{% extends "base-bare.html" %}
{% load navigation %}
{% block body %}
<header>
  <h1>{% block h1 %}pyKol{% endblock %}</h1>

  <ul id="header-nav">
    <li><i class="fa fa-user"></i>{{ user }}<i class="fa fa-caret-down"></i></li>
  </ul>
</header>

<div class="main">

  <div class="wrapper">
    <div id="ariane">
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% show_navigation %}
</div>

<footer>
  {% block footer %}{% endblock%}
  pyKol
</footer>
{% endblock body %}
