{% extends "pykol/base.html" %}
{% load static %}
{% block title %}Colles de {{ object }} − {{ matiere }} − {{ block.super }}{% endblock %}
{% block head %}
<link  href="{% static 'fullcalendar/core/main.css' %}" rel="stylesheet">
<link  href="{% static 'fullcalendar/daygrid/main.css' %}" rel="stylesheet">
<link  href="{% static 'fullcalendar/timegrid/main.css' %}" rel="stylesheet">
<script src="{% static 'fullcalendar/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/interaction/main.js' %}"></script>

<script src="{% static 'colloscope_calendrier.js' %}"></script>
<link href="{% static 'colloscope_calendrier.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}
{% block content %}
<h2>Colles de {{ object }} en {{ matiere }}</h2>

<section>
  <p>Pour créer de nouvelles colles pour ce colleur, cliquez sur le
  calendrier ci-dessous. Une nouvelle colle sera placée sur l'horaire
  que vous avez choisi. Lorsque vous avez placé toutes les colles,
  pensez à enregistrer le calendrier.</p>
  <p>Les colles sont crées avec une durée d'une heure. Vous pouvez par
  ailleurs préciser la durée de passage de chaque étudiant.</p>
  <p><label for="duree_passage_defaut">Durée de passage par étudiant
    pour les nouvelles colles :</label>
  <input type="text" name="duree_passage_defaut" id="duree_passage_defaut"
         value="20"> minutes.</p>
  <form id="calendrier_colleur_form" method="post" action="">
    <p><input type="submit" value="Enregistrer le calendrier"></p>
    {% csrf_token %}
    {{ form.management_form }}
    <table id="calendrier_colleur_formset">
      <thead>
        <tr>
          <th>Colle</th>
          <th>Horaire</th>
          <th>Durée</th>
          <th>Durée de passage par étudiant</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      {% for colle_form in form %}
      <tr>
        <td>{{ colle_form.colle }}</td>
        <td>{{ colle_form.debut }}</td>
        <td>{{ colle_form.duree }}</td>
        <td>{{ colle_form.duree_etudiant }}</td>
        <td>{{ colle_form.DELETE }}</td>
      </tr>
      {% endfor %}
    </table>
    <template id="template_calendrier_colleur_formset">
      {% with template_form=form.empty_form %}
      <tr>
        <td>{{ template_form.id }}{{ template_form.colle }}</td>
        <td>{{ template_form.debut }}</td>
        <td>{{ template_form.duree }}</td>
        <td>{{ template_form.duree_etudiant }}</td>
        <td>{{ template_form.DELETE }}</td>
      </tr>
      {% endwith %}
    </template>
  </form>
</section>
{% endblock %}
