{% extends "pykol/base.html" %}
{% load static %}
{% block title %}Colles de {{ object }} − {{ matiere }} − {{ block.super }}{% endblock %}
{% block head %}
<link  href="{% static 'fullcalendar/core/main.css' %}" rel="stylesheet">
<link  href="{% static 'fullcalendar/daygrid/main.css' %}" rel="stylesheet">
<link  href="{% static 'fullcalendar/timegrid/main.css' %}" rel="stylesheet">
<script src="{% static 'fullcalendar/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/interaction/main.js' %}"></script>

<script src="{% static 'pykol/colloscope_calendrier.js' %}"></script>
<link href="{% static 'pykol/colloscope_calendrier.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}
{% block content %}
<h2>Colles de {{ object }} en {{ matiere }}</h2>

<section>
  <form id="calendrier_colleur_form" method="post" action="">
    <p><input type="submit" value="Enregistrer le calendrier"></p>
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Colle</th>
          <th>Horaire</th>
          <th>Durée de passage par étudiant</th>
        </tr>
      </thead>
      {% for colle_form in form %}
      <tr>
        <td>{{ colle_form.colle }}</td>
        <td>{{ colle_form.debut }}</td>
        <td>{{ colle_form.duree_etudiant }}</td>
      </tr>
      {% endfor %}
    </table>
    <template id="template_calendrier_colleur_form">
      {% with template_form=form.empty_form %}
      <tr>
        <td>{{ template_form.colle }}</td>
        <td>{{ template_form.debut }}</td>
        <td>{{ template_form.duree_etudiant }}</td>
      </tr>
      {% endwith %}
    </template>
  </form>
</section>
{% endblock %}
