{% extends "pykol/base.html" %}
{% block title %}Mentions ECTS pour {{ etudiant }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Détail des mentions pour {{ etudiant }}
	<small>− <a href="{% url 'ects_jury_detail' jury.pk %}">{{ jury }}</a> − {{ jury.classe }}</small></h2>

<section>
	{% if mention_globale_form %}
	<h3>Mention globale</h3>
	<form action="" method="post" class="form_ects_mentions">
		{% csrf_token %}
		{% include "pykol/ects/mention_form.html" with form=mention_globale_form %}
		<p><input type="submit" name="save_next" value="Enregistrer et passer à l'étudiant suivant">
	</form>
	{% elif mention_globale %}
	<p>Le jury a attribué la mention {{ mention_globale.get_mention_display }}.</p>
	{% endif %}

	<h3>Mentions par matière</h3>
  <table>
    <thead>
      <tr>
        <th>Matière</th>
        <th>Mention</th>
        <th>Crédits</th>
      </tr>
    </thead>
    <tbody>
      {% for mention in mentions %}
      <tr>
        <td>{{ mention.enseignement }}</td>
        <td>{{ mention.get_mention_display|default:"Non attribuée"|capfirst }}</td>
        <td>{{ mention.credits }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if perms.pykol.direction %}
  <form method="post" action="{% url 'ects_jury_retirer_etudiant' jury.pk etudiant.pk %}">
    {% csrf_token %}
    <p><input type="submit" class="btn btn-danger"
                            value="Retirer l'étudiant de ce jury"></p>
  </form>
  {% endif %}
</section>
{% endblock %}
