{% extends "pykol/base.html" %}
{% block title %}Liste des jurys ECTS − {{ block.super }}{% endblock %}
{% block content %}
<h2>Saisie des mentions
  <small>− {{ jury }} − {{ jury.classe }}</small></h2>

<section>
  <form method="post" action="" class="form_ects_mentions">
    {% csrf_token %}
    {{ mention_formset.management_form }}
    <table>
      <thead>
        <tr>
          <th rowspan="2">Étudiant</th>
          <th rowspan="2">Mention globale</th>
          <th colspan="3">Crédits</th>
          <th rowspan="2">Actions</th>
        </tr>
        <tr>
          <th>Attribués</th>
          <th>Prévus</th>
          <th>Refusés</th>
        </tr>
      </thead>
      <tbody>
        {% for etudiant in etudiants %}
        <tr>
          <td>{{ etudiant }}</td>
          <td>
            {% if etudiant.mention_globale_form %}
            {% with form=etudiant.mention_globale_form %}
            <ul>
              {% for radio in form.mention %}
              <li>{% if forloop.first %}{% for field in form.hidden_fields %}{{ field }}{% endfor %}
                {{ form.non_field_errors }}
                {{ radio.errors }}
                {% endif %}
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}">{{ radio.choice_label|title }}</label>
              </li>
              {% endfor %}
            </ul>
            {% endwith %}
            {% else %}
            Non attribuable
            {% endif %}
          </td>
          <td>{{ etudiant.credits_attribues }}</td>
          <td>{{ etudiant.credits_prevus }}</td>
          <td>{{ etudiant.credits_refuses }}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'ects_jury_attestation_etudiant' jury.pk etudiant.pk %}">Attestation</a>
            <a class="btn btn-primary" href="{% url 'ects_jury_detail_etudiant' jury.pk etudiant.pk %}">Détail</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><input type="submit" name="submit_mentions" value="Enregistrer les mentions"></p>
  </form>
</section>

<section>
  <h3>Modification du jury</h3>
  <form method="post" action="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <p><input type="submit" name="submit_jurymodif" value="Enregistrer les modifications"></p>
  </form>
</section>
{% endblock %}
