{% extends "pykol/base.html" %}
{% block content %}
{% for matiere, etudiants in matieres.items %}
<h2>Notes des étudiants en {{matiere}}
  <small><a href="?format=odf"><i class="fa fa-download"></i></a><small>
</h2>
<table>
  <tr>
    <th> étudiant </th>
    <th> moyenne </th>
    <th> rang </th>
    {% for semaine in semaines %}
    <th>{{ semaine.numero }}</th>
    {% endfor %}
    </tr>
    {% for etudiant, semaines_notes in etudiants.items %}
    <tr>
      <td> {{ etudiant }} </td>
      {% for notes in semaines_notes %}
      <td>{{ notes|join:', ' }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}
