{% extends "pykol/base.html" %}
{% load resultats %}
{% block head %}
{{ block.super }}
<link rel="alternate" href="?format=odf" type="application/vnd.oasis.opendocument.spreadsheet">
{% endblock %}
{% block content %}
<h2>Notes de colles
  <small>− {{ classe }}</small>
  <small><a title="Télécharger au format OpenDocument"
      href="?format=odf"><i class="fa fa-download"></i></a></small>
</h2>
{% for enseignement, resultats_enseignement in enseignements.items %}
<section>
  <h3>Notes des étudiants en {{ enseignement.matiere }}</h3>
  <table class="resultats">
    <tr>
      {% if resultats_enseignement.periodes %}
      <th rowspan="2">Étudiant</th>
      <th rowspan="2">Moyenne annuelle</th>
      <th rowspan="2">Rang annuel</th>
      {% for periode in resultats_enseignement.periodes %}
      <th colspan="{{ periode.semaines|length }}">{{ periode }}</th>
    </tr>
    <tr>
      {% endfor %}
      {% else %}
      <th>Étudiant</th>
      <th>Moyenne</th>
      <th>Rang</th>
      {% endif %}

      {% for semaine in semaines %}
      <th>{{ semaine.numero }}</th>
      {% endfor %}
      </tr>
      {% for etudiant, resultats in resultats_enseignement.etudiants.items %}
      <tr>
        <td>{{ etudiant }}</td>
        <td>{{ resultats.moyenne|floatformat }}</td>
        <td>{% if resultats.rang %}{{ resultats.rang|rang }}{% endif %}</td>
        {% for semaine, notes in resultats.notes.items %}
        <td>{{ notes|join:', ' }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </table>
  {% if resultats_enseignement.periode_form %}
  <h3>Périodes de notation</h3>
  <p>Vous pouvez découper l'année en plusieurs périodes de notation afin
  de calculer les moyennes de colles séparément sur chaque période.</p>
  {% with formset=resultats_enseignement.periode_form %}
  <form method="post" action="{% url 'classe_periode_notation' classe.slug %}">
    {% csrf_token %}
    {{ formset.non_form_errors }}
    <table class="formset form_periodenotation">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          <td>{{ form.id }}{{ form.enseignement }}{{ form.nom }}{% if form.nom.errors %}<br>{{ form.nom.errors }}{% endif %}</td>
          <td>{{ form.debut }}{% if form.debut.errors %}<br>{{ form.debut.errors }}{% endif %}</td>
          <td>{{ form.fin }}{% if form.fin.errors %}<br>{{ form.fin.errors }}{% endif %}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      {{ formset.management_form }}
      <input type="hidden" name="next" value="{% url 'classe_colle_resultats' classe.slug %}">
      <input type="submit" value="Enregistrer les périodes">
    </p>
  </form>
  {% endwith %}
  {% endif %}
</section>
{% empty %}
<section>
  <p>Vous n'intervenez dans aucune matière pour laquelle des colles ont
  lieu dans cette classe.</p>
</section>
{% endfor %}
{% endblock %}
