{% extends 'pykol/base.html' %}
{% block title %}Planning des colles − {{ block.super }}{% endblock %}
{% block head %}
{{ block.super }}
<link rel="alternate" type="text/calendar" href="{{ ical_url }}">
{% endblock %}
{% block content %}
<h2>Planning des colles
  <small><a title="Télécharger au format iCalendar" href="{{ ical_url }}"><i class="fa fa-calendar-plus"></i></a></small>
</h2>

{% if colles_passees and colles_futures %}
<p>Les <a href="#colles_passees">colles passées</a> se trouvent en bas de
cette page.</p>
{% endif %}

<p>Les données de ce planning sont <a href="{{ ical_url}}">disponibles
  au format iCalendar</a> afin de vous permettre d'importer vos colles
dans un agenda électronique.</p>

{% if colles_futures %}
<section id="colles_futures">
  <h3>Planning</h3>
  {% include 'pykol/colles/colle_list_etudiant_widget.html' with colle_list=colles_futures %}
</section>
{% endif %}

{% if colles_passees %}
<section id="colles_passees">
  <h3>Colles passées</h3>
  {% include 'pykol/colles/colle_list_etudiant_widget.html' with colle_list=colles_passees %}
</section>
{% endif %}
{% endblock content %}
