{% extends 'pykol/base.html' %}
{% load lien_email %}
{% block title %}Colle du {{ colle.details.horaire }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Colle du {{ colle.details.horaire }}{% if colle.semaine %} − {{ colle.semaine }}{% endif %}</h2>

<section>
  <table>
    <tr>
      <th>Trinôme</th>
      <td>{{ colle.groupe }}</td>
      <th>Étudiants</th>
      <td>{% lien_email colle.details.eleves.all %} {{ colle.details.eleves.all|join:", " }}</td>
    </tr>
    <tr>
      <th>Horaire</th>
      <td>{{ colle.details.horaire }}</td>
      <th>Salle</th>
      <td>{{ colle.details.salle }}</td>
    </tr>
    <tr>
      <th>Colleur</th>
      <td>{{ colle.details.colleur }}</td>
      <td>{{ colle.matiere }}</td>
      <td>{{ colle.get_mode_display }}</td>
    </tr>
    <tr>
      <th>Durée</th>
      <td>{{ colle.duree }}</td>
      <th>État</th>
      <td>{{ colle.get_etat_display }}</td>
    </tr>
    <tr>
      <td colspan="4">
        {% if perm_colle.noter %}
        {% include 'pykol/colles/noter_button.html' %}
        {% endif %}
      </td>
    </tr>
  </table>
</section>

{% if perm_colle.deplacer %}
<section>
  <h3>Modifier la colle</h3>
  {% include 'pykol/colles/deplacer_generic.html' with form=deplacer_form %}
</section>
{% endif %}

{% if anciens_details %}
<section>
  <h3>Historique</h3>
  <table>
    <thead>
      <tr>
        <th>Colleur</th>
        <th>Horaire</th>
        <th>Salle</th>
        <th>Étudiants</th>
      </tr>
    </thead>
    <tbody>
      {% for detail in anciens_details %}
      <tr>
        <td>{{ detail.colleur }}</td>
        <td>{{ detail.horaire }}</td>
        <td>{{ detail.salle }}</td>
        <td>{{ detail.eleves.all|join:", " }}</td>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

{% if perm_colle.annuler or perm_colle.supprimer %}
<section>
  <h3>Annulation</h3>
  <p>S'il n'est pas possible d'effectuer une colle, vous pouvez
  l'annuler. La colle ne disparait pas du colloscope, mais les élèves ne
  sont plus convoqués pour cette heure.</p>
  {% if perm_colle.annuler %}
  <form method="post" action="{% url 'colle_annuler' colle.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">Annuler la colle</button>
  </form>
  {% endif %}

  <p>Si une colle n'aurait jamais dû être programmée dans le colloscope,
  vous pouvez également la supprimer définitivement. Il n'est pas
  possible de supprimer une colle qui a été effectuée par le
  colleur.</p>
  {% if perm_colle.supprimer %}
  <form method="post" action="{% url 'colle_supprimer' colle.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Supprimer la colle</button>
  </form>
  {% endif %}

</section>
{% endif %}

{% endblock content %}
