{% extends "pykol/base.html" %}
{% load colloscope %}
{% block content %}
<h2>
  Colloscope
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

{% if perm_creation %}
<p><a href="{% url 'colle_creer' classe.slug %}">Créer une colle</a></p>
{% endif %}

<table class="colloscope">
  <thead>
    <tr>
      <th rowspan="2">Matière</th>
      <th rowspan="2">Professeur</th>
      <th rowspan="2">Jour</th>
      <th rowspan="2">Heure</th>
      <th rowspan="2">Salle</th>
      {% for semaine in semaines %}
      <th class="numero_semaine">{{ semaine.numero }}</th>
      {% endfor %}
    </tr>

    <tr>
      {% for semaine in semaines %}
      <th class="date_semaine">{{ semaine.debut | date:"d/m"}}<br>{{ semaine.fin | date:"d/m"}}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for matiere, creneaux in colloscope.items %}
    {% for creneau, semaines in creneaux.items %}
    <tr>
      {% ifchanged matiere %}
      <th rowspan="{{ creneaux|length }}">{{ matiere }}</th>
      {% endifchanged %}
      <th>{{ creneau.colleur.short_display_name }}</th>
      <th>{{ creneau.get_jour_display }}</th>
      <th>{{ creneau.debut | heure_pour_colloscope }}−{{ creneau.fin | heure_pour_colloscope}}</th>
      <th>{{ creneau.salle }}</th>
      {% for semaine, groupes in semaines.items %}
      <td>{{ groupes|join:', ' }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
