{% extends "pykol/base.html" %}
{% block content %}
<h2>Création d'une colle
<small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<form action="" method="post" class="form_cree_colle">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <section>
    <h3>Erreurs</h3>
    {{ form.non_field_errors }}
  </section>
  {% endif %}

  <fieldset>
    <h3>Informations générales</h3>
    <table>
      <tr>
        <th>{{ form.colleur.label_tag }}</th>
        <td>{{ form.colleur }}{{ form.colleur.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.enseignement_dote.label_tag }}</th>
        <td>{{ form.enseignement_dote }}{{ form.enseignement_dote.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.salle.label_tag }}</th>
        <td>{{ form.salle }}{{ form.salle.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.mode.label_tag }}</th>
        <td class="form_radio_ligne">{{ form.mode }}{{ form.mode.errors }}</td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <h3>Horaire</h3>
    <p>Indiquez l'horaire de la colle :
    <ul>
      <li>soit en remplissant le champ {{ form.horaire.name }} ;</li>
      <li>soit en indiquant la semaine et le créneau de colle.</li>
    </ul>
    <table>
      <tr>
        <th colspan="2">{{ form.horaire.label_tag }}</th>
        <td>{{ form.horaire }}{{ form.horaire.errors }}</td>
      </tr>
      <tr>
        <th rowspan="2">Par créneau</th>
        <th>{{ form.creneau.label_tag }}</th>
        <td>{{ form.creneau }}{{ form.creneau.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.semaine.label_tag }}</th>
        <td>{{ form.semaine }}{{ form.semaine.errors }}</td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="form_choix_etudiants">
    <h3>Étudiants</h3>
    <p>Choisissez la liste des étudiants participant à la colle, soit en
    sélectionnant un trinôme de la classe déjà existant, soit en cochant
    explicitement les étudiants.</p>
    <table>
      <tr>
        <th>{{ form.trinome.label_tag }}</th>
        <td>{{ form.trinome }}{{ form.trinome.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.etudiants.label_tag }}</th>
        <td>{{ form.etudiants }}{{ form.etudiants.errors }}</td>
      </tr>
    </table>
  </fieldset>

  <input type="submit" value="Enregister">
</form>
{% endblock %}
