{% extends "pykol/base.html" %}
{% block content %}
<h2>
  Créneaux de colles
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<form action="" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.non_form_errors }}
  <table>
    <tr>
      <th>Matière</th>
      <th>Colleur</th>
      <th>Jour</th>
      <th>Horaire</th>
      <th>Salle</th>
      <th>Supprimer ?</th>
    </tr>
    {% for form in formset %}
    {% if form.errors %}
    <tr>
      <td colspan="6">
        Le créneau suivant n'est pas valide.
        {{ form.errors }}
      </td>
    </tr>
    {% endif %}
    {% if form.non_field_errors %}
    <tr>
      <td colspan="6">
      {{ form.non_field_errors }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ form.id }}{{ form.matiere }}{% if form.matiere.errors %}<br>{{ form.matiere.errors }}{% endif %}</td>
      <td>{{ form.colleur }}{% if form.colleur.errors %}<br>{{ form.colleur.errors }}{% endif %}</td>
      <td>{{ form.jour }}{% if form.jour.errors %}<br>{{ form.jour.errors }}{% endif %}</td>
      <td>{{ form.debut }} − {{ form.fin }}{% if form.debut.errors %}<br>{{ form.debut.errors }}{% endif %}</td>{% if form.fin.errors %}<br>{{ form.fin.errors }}{% endif %}</td>
      <td>{{ form.salle }}{% if form.salle.errors %}<br>{{ form.salle.errors }}{% endif %}</td>
      <td>{{ form.DELETE }}</td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit">
</form>
{% endblock %}
