{% extends "pykol/base.html" %}
{% block content %}
<h2>
  Créneaux de colles
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<section>
  <p>Sur cette page, vous pouvez définir les créneaux de colles qui
  serviront à engendrer les colles régulières de l'année.</p>
  <ul>
    <li>La colonne <em>Matière</em> peut faire apparaitre la même
      matière plusieurs fois, si cette matière reçoit plusieurs
      dotations en colles (par exemple une au titre des mathématiques et
      une au titre de l'informatique en voie économique et commerciale),
      ou bien si l'enseignement de cette matière varie selon les
      semestres.</li>
    <li>L'horaire est à indiquer dans l'un des formats suivants :
      <em>HH</em>, <em>HH:MM</em> ou <em>HH:MM:SS</em> ; où <em>HH</em>
      représente l'heure, <em>MM</em> représente les minutes et
      <em>SS</em> représente les secondes (la ponctualité étant de
      rigueur).</li>
    <li>La salle pourra être complétée plus tard par la direction de
      l'établissement. Renseignez le plus vite possible les créneaux :
      avec la liste de l'ensemble des créneaux de l'ensemble des
      classes, la direction pourra effectuer les réservations de
      salles.</li>
    <li><strong>Pour supprimer un créneau</strong>, pensez bien à
      enregistrer le tableau en cliquant sur le bouton <em>Enregistrer
        les créneaux</em>.</li>
  </ul>
<form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table class="formset form_creneaux">
      <thead>
        <tr>
          <th>Matière</th>
          <th>Colleur</th>
          <th>Jour</th>
          <th>Horaire</th>
          <th>Salle</th>
          <th>Supprimer ?</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        {% if form.errors %}
        <tr>
          <td colspan="6">
            Le créneau suivant n'est pas valide.
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.id }}{{ form.enseignement_dote }}{% if form.enseignement_dote.errors %}<br>{{ form.enseignement_dote.errors }}{% endif %}</td>
          <td>{{ form.colleur }}{% if form.colleur.errors %}<br>{{ form.colleur.errors }}{% endif %}</td>
          <td>{{ form.jour }}{% if form.jour.errors %}<br>{{ form.jour.errors }}{% endif %}</td>
          <td class="creneau_horaire">{{ form.debut }} − {{ form.fin }}{% if form.debut.errors %}<br>{{ form.debut.errors }}{% endif %}</td>{% if form.fin.errors %}<br>{{ form.fin.errors }}{% endif %}</td>
          <td>{{ form.salle }}{% if form.salle.errors %}<br>{{ form.salle.errors }}{% endif %}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <template id="new-form_creneaux">
      {% with form=formset.empty_form %}
      <tr>
        <td>{{ form.id }}{{ form.enseignement_dote }}</td>
        <td>{{ form.colleur }}</td>
        <td>{{ form.jour }}</td>
        <td class="creneau_horaire">{{ form.debut }} − {{ form.fin }}</td>
        <td>{{ form.salle }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endwith %}
    </template>
    <p><input type="submit" value="Enregistrer les créneaux"></p>
  </form>
</section>
{% endblock %}
