<form method="post" action="{% url 'colle_deplacer' colle.pk %}">
  <p>Vous pouvez modifier les détails de la colle en remplissant les
  champs suivants. Remplissez uniquement les champs que vous souhaitez
  modifier, le reste sera recopié.</p>
  <p>En revanche, la salle de colle sera effacée si vous changez
  l'horaire de la colle. Vous pourrez renseigner la salle plus tard
  quand vous aurez obtenu une réservation auprès de la direction.</p>
  {% csrf_token %}

  {{ form.non_field_errors }}

  <fieldset>
    <legend>Informations générales</legend>
    <table>
      <tr>
        <th>{{ form.colleur.label_tag }}</th>
        <td>{{ form.colleur }}{{ form.colleur.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.salle.label_tag }}</th>
        <td>{{ form.salle }}{{ form.salle.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.horaire.label_tag }}</th>
        <td>{{ form.horaire }}{{ form.horaire.errors }}<br>
          Entrez la date et l'heure au format <em>AAAA-MM-JJ HH:MM</em>.</td>
      </tr>
      <tr>
        <th>{{ form.mode.label_tag }}</th>
        <td class="form_radio_ligne">{{ form.mode }}{{ form.mode.errors }}</td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="form_choix_etudiants">
    <legend>Étudiants</legend>
    <p>Choisissez la liste des étudiants participant à la colle, soit en
    sélectionnant un trinôme de la classe déjà existant, soit en cochant
    explicitement les étudiants.</p>
    <p>Si vous n'indiquez rien dans cette partie, le groupe d'étudiants
    ne sera tout simplement pas modifié par rapport au groupe
    actuel.</p>
    <table>
      <tr>
        <th>{{ form.trinome.label_tag }}</th>
        <td>{{ form.trinome }}{{ form.trinome.errors }}</td>
      </tr>
      <tr>
        <th>{{ form.etudiants.label_tag }}</th>
        <td>{{ form.etudiants }}{{ form.etudiants.errors }}</td>
      </tr>
    </table>
  </fieldset>
  <p><input type="submit" value="Modifier la colle"></p>
</form>
