{% extends "pykol/base.html" %}
{% block content %}
<h2>Notes de colles pour {{ etudiant }}</h2>
<table>
  <tr>
    <th>Matière</th>
    <th>Moyenne</th>
    {% for semaine in semaines %}
    <th>{{ semaine.numero }}</th>
    {% endfor %}
  </tr>
  {% for matiere, notes_matiere in notes.items %}
  <tr>
    <td>{{ matiere }}</td>
    <td>{{ notes_matieres.moyenne }}</td>
    {% for notes in notes_matiere.semaines.values %}
    <td>{{ notes|join:", " }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
