{% extends "pykol/base.html" %}
{% block content %}
<h2>Année scolaire {{ annee }}</h2>

<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th>Date de début</th>
      <td>{{ annee.debut }}</td>
    </tr>
  
    <tr>
      <th>Date de fin</th>
      <td>{{ annee.fin }}</td>
    </tr>

    <tr>
      <th>Heures de colles</th>
      <td>{{ annee.dotation_totale }}</td>
    </tr>
  </table>

  <h3>Dotations</h3>
  {{ dotation_formset.management_form }}
  {{ dotation_formset.non_form_errors }}
  <table class="formset">
    <thead>
      <tr>
        <th>Date</th>
        <th>Nombre d'heures</th>
        <th>Supprimer ?</th>
      </tr>
    </thead>
    <tbody>
      {% for form in dotation_formset %}
      {% if form.errors %}
      <tr>
        <td colspan="6">
          La dotation suivante n'est pas valide.
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.id }}{{ form.date }}{% if form.date.errors %}<br>{{ form.date.errors }}{% endif %}</td>
        <td>{{ form.heures }}{% if form.heures.errors %}<br>{{ form.heures.errors }}{% endif %}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <input type="submit">
</form>
{% endblock %}
