{% extends "pykol/base.html" %}
{% load timedelta %}
{% block title %}Année scolaire {{ annee }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Année scolaire {{ annee }}</h2>

<section>
  <table>
    <tr>
      <th>Date de début</th>
      <td>{{ annee.debut }}</td>
    </tr>
  
    <tr>
      <th>Date de fin</th>
      <td>{{ annee.fin }}</td>
    </tr>

    <tr>
      <th>Heures de colles déléguées</th>
      <td>{{ annee.dotation_totale|heures }}</td>
    </tr>

    {% if dotations %}
    <tr>
      <th>Heures théoriques</th>
      <td>{{ total_heures|heures }}</td>
    </tr>

    <tr>
      <th>Heures prévues aux colloscopes</td>
      <td>{{ total_heures_colloscopes|heures }}</td>
    </tr>
    {% endif %}
  </table>
</section>

<section>
  <h3>Dotations</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ dotation_formset.management_form }}
    {{ dotation_formset.non_form_errors }}
    <table class="formset">
      <thead>
        <tr>
          <th>Date</th>
          <th>Nombre d'heures</th>
          <th>Supprimer ?</th>
        </tr>
      </thead>
      <tbody>
        {% for form in dotation_formset %}
        {% if form.errors %}
        <tr>
          <td colspan="3">
            La dotation suivante n'est pas valide.
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.id }}{{ form.date }}{% if form.date.errors %}<br>{{ form.date.errors }}{% endif %}</td>
          <td>{{ form.heures }}{% if form.heures.errors %}<br>{{ form.heures.errors }}{% endif %}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <input type="submit" value="Enregistrer les modifications">
  </form>
</section>

<section>
  <h3>Dotations par classe</h3>
  {% if dotations %}
  <table>
    <thead>
      <tr>
        <th rowspan="2">Classe</th>
        <th rowspan="2">Matière</th>
        <th colspan="2">Théorique</th>
        <th colspan="2">Colloscopes</th>
      </tr>
      <tr>
        <th>Heures</th>
        <th>Total</th>
        <th>Heures</th>
        <th>Total</th>
      </tr>
    </thead>
      <tbody>
      {% for classe, dotation in dotations.items %}
      {% for matiere in dotation.matieres %}
      <tr>
        {% ifchanged classe %}
        <th rowspan="{{ dotation.matieres|length }}">{{ classe }}</th>
        {% endifchanged %}
        <td>{{ matiere.matiere }}</td>
        <td>{{ matiere.heures|heures }}</td>
        {% ifchanged classe %}
        <td rowspan="{{ dotation.matieres|length }}">{{ dotation.total_heures|heures }}</td>
        {% endifchanged %}
        <td>{{ matiere.heures_colloscope|heures }}</td>
        {% ifchanged classe %}
        <td rowspan="{{ dotation.matieres|length }}">{{ dotation.total_heures_colloscope|heures }}</td>
        {% endifchanged %}
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">Total</th>
        <td>{{ total_heures|heures }}</td>
        <td></td>
        <td>{{ total_heures_colloscopes|heures }}</td>
      </tr>
    </tfoot>
  </table>
  {% else %}
  <p>La base de données ne contient pour le moment aucune information
  concernant les colles. Les données de l'année n'ont probablement pas
  encore été importées depuis le menu <em>Paramétrage</em>.
  {% endif %}
</section>
{% endblock %}
