{% extends "pykol/base.html" %}
{% block title %}Années scolaires − {{ block.super }}{% endblock %}
{% block content %}
<h2>Années scolaires</h2>

<section>
  <table>
    <tr>
      <td>Nom</td>
      <td>Date de début</td>
      <td>Date de fin</td>
      <td>Actions</td>
    </tr>

    {% for annee in annee_list %}
    <tr>
      <td><a href="{{ annee.get_absolute_url }}">{{ annee.nom }}</a></td>
      <td>{{ annee.debut }}</td>
      <td>{{ annee.fin }}</td>
      <td class="actions"></td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
