{% extends "pykol/base-bare.html" %}
{% load static %}
{% load navigation %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
<script src="{% static 'pykol-full.js' %}"></script>
{% endblock %}
{% block body %}
<header>
  <h1>
    <a href="{% url 'home' %}">
      <i class="fa fa-graduation-cap"></i>
      {% block h1 %}pyKol{% endblock %}
    </a>
  </h1>

  {% show_navigation user %}
</header>

<div id="main">

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}{% endblock%}
    pyKol
  </footer>

</div>
{% endblock body %}
