{% extends "pykol/base.html" %}
{% load lien_email %}
{% block content %}
<h2>Détail de la classe {{ classe.nom }}
  <small>{% lien_email classe.etudiants.all title="Envoyer un e-mail à la classe" %}</small>
</h2>

<section>
  {% if gestion_colloscope %}
  <h3>Gestion du colloscope</h3>
  {% else %}
  <h3>Colloscope</h3>
  {% endif %}
  <ul>
    {% if classe_perm.change_semaine %}
    <li><a href="{% url 'colloscope_semaines' classe.slug %}">Gestion des
        semaines de colles</a></li>
    {% endif %}
    {% if classe_perm.change_trinome %}
    <li><a href="{% url 'colloscope_trinomes' classe.slug %}">Gestion des
        groupes de colles</a></li>
    {% endif %}
    {% if classe_perm.change_creneau %}
    <li><a href="{% url 'colloscope_creneaux' classe.slug %}">Gestion des
        créneaux de colles</a></li>
    {% endif %}
    {% if classe_perm.change_roulement %}
    <li><a href="{% url 'roulement_creer' classe.slug %}">Enchainement des
        colles</a>
      {% for roulement in classe.roulement_set.all %}
      (<a href="{% url 'roulement_editer' roulement.pk %}">{{ roulement.pk }}</a>)
      {% endfor %}
    </li>
    {% endif %}
    <li><a href="{% url 'colloscope' classe.slug %}">Colloscope</a></li>
    {% if classe_perm.add_colle %}
    <li><a href="{% url 'colle_creer' classe.slug %}">Créer une colle</a></li>
    {% endif %}
  </ul>
</section>

{% if classe_perm.view_resultats %}
<section>
  <h3>Notes de colles</h3>
  <ul>
    <li><a href="{% url 'classe_colle_resultats' classe.slug %}">Notes de la classe</a></li>
  </ul>
</section>
{% endif %}

{% if periodes %}
<section>
  {% for periode, trinomes in periodes.items %}
  <h3>Groupes de colles − {{ periode }}</h3>
  <ul class="trinomes">
    {% for trinome in trinomes %}
    <li><strong>{{ trinome.nom }}</strong>
      {% with "Envoyer un e-mail au groupe "|add:trinome.nom as titre_lien %}
      {% lien_email trinome.etudiants.all title=titre_lien %}
      {% endwith %}
      {% if classe_perm.change_trinome %}
      <span class="trinome-detail">
        <a href="{% url 'trinome_detail' trinome.pk %}"
           title="Modifier le groupe"><i class="far fa-edit"></i></a>
      </span>
      {% endif %}
      <ul>
        {% for etudiant in trinome.etudiants.all %}
        <li><a href="{{ etudiant.get_absolute_url }}">{{ etudiant }}{% if etudiant.classe != classe %}
            ({{ etudiant.classe }}){% endif %}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
{% endif %}

<section>
  <h3>Étudiants</h3>
  <ul>
    {% for etudiant in etudiant_list %}
    <li><a href="{{ etudiant.get_absolute_url }}">{{ etudiant }}</a></li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
