{% extends "pykol/base.html" %}
{% block content %}
<h2>Détail de la classe {{ classe.nom }}</h2>

{% if can_edit_colloscope %}
<h3>Gestion du colloscope</h3>
<ul>
  <li><a href="{% url 'colloscope_semaines' classe.slug %}">Gestion des
      semaines de colles</a></li>
  <li><a href="{% url 'colloscope_trinomes' classe.slug %}">Gestion des
      groupes de colles</a></li>
  <li><a href="{% url 'colloscope_creneaux' classe.slug %}">Gestion des
      créneaux de colles</a></li>
  <li><a href="{% url 'colloscope' classe.slug %}">Colloscope</a></li>
</ul>
{% else %}
<h3>Colloscope</h3>
<ul>
  <li><a href="{% url 'colloscope' classe.slug %}">Colloscope</a></li>
</ul>
{% endif %}

<h3>Groupes de colles</h3>
<ul class="trinomes">
  {% for trinome in classe.trinomes.all %}
  <li>{{ trinome.nom }}
    <ul>
      {% for etudiant in trinome.etudiants.all %}
      <li>{{ etudiant }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<h3>Étudiants</h3>
<ul>
  {% for etudiant in etudiant_list %}
  <li><a href="{{ etudiant.get_absolute_url }}">{{ etudiant }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
