{% extends "pykol/base.html" %}
{% block content %}
<h2>Relevés des colles</h2>

<section>
  {% if perms.pykol.add_collereleve %}
  <form action="{% url 'releve_creer' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button-add">Créer un nouveau
      relevé</button>
  </form>
  {% endif %}

  {% if collereleve_list %}
  <ul>
    {% for releve in collereleve_list %}
    <li><a href="{% url 'releve_detail' releve.pk %}">Relevé du
        {{ releve.date }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Aucun relevé pour cette année.</p>
  {% endif %}
  {% if nouvelles_colles > 1 %}
  <p>Actuellement, {{ nouvelles_colles }} colles ont été effectuées et n'ont
  pas encore été relevées.</p>
  {% elif nouvelles_colles == 1 %}
  <p>Actuellement, une colle a été effectuée et n'a pas encore été relevée.</p>
  {% elif nouvelles_colles == 0 %}
  <p>Actuellement, aucune colle n'a été effectuée depuis le dernier relevé.</p>
  {% endif %}
</section>

{% endblock %}
