{% extends "pykol/base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="alternate" href="?format=json" type="application/json">
<script src="{% static 'js/releve_async_payer.js' %}"></script>
{% endblock %}
{% block title %}Relevé des colles du {{ collereleve.date }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Relevé des colles du {{ collereleve.date }}</h2>

<section>
  <table>
    <tr>
      <th>État</th>
      <td>{{ collereleve.get_etat_html }}</td>
    </tr>
    <tr>
      <th colspan="2">{{ collereleve.total_heures|floatformat:"-2" }} heures</th>
    </tr>
  </table>
</section>

<section>
  <h3>Détails</h3>

  <table class="releve-lignes">
    <thead>
      <tr>
        <th>Professeur</th>
        <th>Taux</th>
        <th>Heures</th>
        <th>Durée d'interrogation</th>
        <th>État</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ligne in collereleve.lignes_par_prof %}
      <tr id="releve-ligne-{{ ligne.id }}">
        <td class="ligne-colleur">{{ ligne.colleur }}</td>
        <td class="ligne-taux">{{ ligne.get_taux_display }}</td>
        <td class="ligne-heures">{{ ligne.heures|floatformat:"-2" }}</td>
        <td class="ligne-interrogation">{{ ligne.heures_interrogation|floatformat:"-2" }}</td>
        <td class="ligne-etat">{{ ligne.get_etat_display }}{% if ligne.etat == ligne.ETAT_PAYE %} − {{ ligne.date_paiement }}{% endif %}</td>
        <td class="actions ligne-action">{% if ligne.etat != ligne.ETAT_PAYE %}
          <form action="{% url 'releveligne_payer' ligne.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Payer</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
