{% extends "pykol/base.html" %}
{% block title %}Import SIECLE − {{ block.super }}{% endblock %}
{% block content %}
<h2>Import des données depuis la base élèves (SIECLE)</h2>

<section>
  <p>Cette page permet de créer les données ou de les mettre à jour grâce
  aux données stockées dans SIECLE.</p>

  <p>Connectez-vous à l'application SIECLE. Dans le menu « Exportations »
  rendez-vous sur la page « XML ». Téléchargez et sauvegardez les fichiers
  d'export standard correspondant à chaque champ ci-dessous, puis
  importez-les depuis cette page.

  <p>Si vous effectuez plusieurs importations depuis cette page, les
  données (classes, élèves, matières, etc.) ne seront pas dupliquées, mais
  elles seront simplement mises à jour en fonction des modifications
  présentes dans SIECLE.

  <p>Vous pouvez laisser certains champs vides : si vous souhaitez par
  exemple uniquement mettre à jour la liste des étudiants, importez
  uniquement le fichier élèves.

  {% if annee_scolaire_none %}
  <h3>Année scolaire</h3>
  <p>Aucune année scolaire n'existe actuellement dans la base de
  données. Vous devez, au choix, soit créer manuellement une année
  scolaire, soit inclure le fichier STS lors de l'import. Ce fichier
  contient les données qui permettent de déterminer ou de créer l'année
  scolaire.</p>
  {% endif %}

  {% if messages %}
  <h3>Messages</h3>
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <form enctype="multipart/form-data" action="{% url 'import_bee' %}" method="post">
    <h3>Import des données</h3>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td colspan="2"><input type="submit" value="Importer les données"></td>
      </tr>
    </table>
  </form>
</section>

{% endblock %}
