{% extends 'pykol/base.html' %}
{% block content %}
<h2>Mentions légales</h2>

<h3>À propos de pyKol</h3>
<p>pyKol est un logiciel de suivi de colles écrit en Python et le
framework Django. Il est diffusé sous licence libre Affero GNU General
Public License 3 (AGPL-3). Ceci signifie que ce logiciel est libre, que
vous pouvez l'utiliser, le modifier, le redistribuer selon les termes de
cette licence.</p>

<p>En tant qu'utilisateur de ce service, vous pouvez notamment demander
à l'éditeur du service de vous fournir le code source des éventuelles
modifications qu'il aurait apporté au logiciel.</p>

<h3>Gestion des données personnelles</h3>

<h3>Informations sur le service</h3>
{% endblock %}
