<nav>
  <ul>
  {% for item in navigation %}
  <li{% if item.has_children %} class="active"{% endif %}>
      {% if item.url %}
      <a href="{% url item.url %}">
      {% endif %}
        <i class="fa fa-{{ item.icon }}"></i>
        {{ item.label }}
        {% if item.has_children %}<i class="fa fa-chevron-down"></i>{% endif %}
      {% if item.url %}
      </a>
      {% endif %}
      {% if item.has_children %}
      <ul>
        {% for child_item in item %}
        <li>
          <a href="{% url child_item.url %}">
            <i class="fa fa-{{ child_item.icon }}"></i>{{ child_item.label }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
