<nav>
  <ul>
  {% for item in navigation %}
  <li>
    {% if item.is_link %}
    <a href="{{ item.get_link }}">
    {% else %}
    <span>
    {% endif %}
      <i class="fas fa-{{ item.icon }}"></i>
      {{ item.label }}
      {% if item.has_children %}<i class="fas fa-chevron-down"></i>{% endif %}
    {% if item.is_link %}
    </a>
    {% else %}
    </span>
    {% endif %}
    {% if item.has_children %}
    <ul>
      {% for child_item in item %}
      <li>
        {% if child_item.is_link %}
        <a href="{{ child_item.get_link }}">
        {% else %}
        <span>
        {% endif %}
          <i class="fas fa-{{ child_item.icon }}"></i>
          {{ child_item.label }}
        {% if child_item.is_link %}
        </a>
        {% else %}
        </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
