<nav>
  <ul>
  {% for item in navigation %}
  <li>
      {% if item.url %}
      <a href="{% url item.url %}">
      {% endif %}
        <i class="fas fa-{{ item.icon }}"></i>
        {{ item.label }}
        {% if item.has_children %}<i class="fas fa-chevron-down"></i>{% endif %}
      {% if item.url %}
      </a>
      {% endif %}
      {% if item.has_children %}
      <ul>
        {% for child_item in item %}
        <li>
          {% if child_item.url %}
          <a href="{% url child_item.url %}">
          {% endif %}
            <i class="fas fa-{{ child_item.icon }}"></i>{{ child_item.label }}
          {% if child_item.url %}
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
