{% extends "pykol/base.html" %}
{% block head %}
{{ block.super }}
<style>
.creneau_horaire input {
  width: calc(50% - 1rem);
  min-width: 4.5rem;
}
</style>
{% endblock %}
{% block title %}Créneaux de colles − {{ block.super }}{% endblock %}
{% block content %}
<h2>
  Créneaux de colles
</h2>

<section>
  <p>Cette page affiche la liste des créneaux de colles demandés par les
  professeurs des différentes classes. Les créneaux sont triés par jour
  et par professeur : ceci vous permet de voir plus facilement les
  créneaux consécutifs pour un même professeur afin de réserver si
  possible la même salle.</p>
  <p>Dès que vous avez renseigné des salles et enregistré les
  modifications de ce tableau avec le bouton <em>Enregistrer les
    modifications</em>, les salles seront directement visibles par les
  professeurs des classes.</p>
  <p>Si vous modifiez la salle d'un créneau donné en cours d'année, la
  modification sera répercutée sur toutes les colles <em>futures</em>
  attachées à ce créneau.</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table class="form_direction_creneaux">
      {% with colspan=4 %}
      <thead>
        <tr>
          <th>Matière</th>
          <th>Jour</th>
          <th>Horaire</th>
          <th>Salle</th>
        </tr>
        {% if form.non_field_errors %}
        <tr>
          <td colspan="{{ colspan }}">
          {{ form.non_field_errors }}
          </td>
        </tr>
        {% endif %}
      </thead>
      <tbody>
        {% regroup formset by instance.colleur as colleur_list %}
        {% for colleur, forms in colleur_list %}
        {% ifchanged colleur %}
        <tr>
          <th colspan="{{ colspan }}"><h3>{{ colleur }}</h3></th>
        </tr>
        {% endifchanged %}
        {% for form in forms %}
        {% if form.errors %}
        <tr>
          <td colspan="{{ colspan }}">
            Le créneau suivant n'est pas valide.
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>{{ form.instance.enseignement }}</td>
          <td>{{ form.instance.get_jour_display }}</td>
          <td class="creneau_horaire">{{ form.instance.debut }} − {{ form.instance.fin }}</td>
          <td>{{ form.id }}{{ form.salle }}{% if form.salle.errors %}<br>{{ form.salle.errors }}{% endif %}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    {% endwith %}
    </table>
    <p><input type="submit" value="Enregistrer les modifications"></p>
  </form>
</section>
{% endblock %}
