{% extends "pykol/base.html" %}
{% block content %}
<h2>{% if concerned_user %}
Profil de {{ concerned_user }}
{% else %}
Création d'un utilisateur
{% endif %}</h2>

{% include 'pykol/messages.html' %}

<form method="post" action="">
  {% csrf_token %}

  <fieldset>
    <legend>Informations d'identification</legend>
    <table>
      {{ form.user_form.as_table }}
    </table>
  <input type="submit">
  </fieldset>

  <fieldset>
    <legend>Type d'utilisateur</legend>
    {{ form }}
  </fieldset>

{% if not concerned_user or concerned_user.professeur %}
<fieldset>
  <legend>Professeur</legend>
  <table>
    {{ form.prof_form.as_table }}
  </table>
  <input type="submit">

  {% if concerned_user %}
  {% if concerned_user.professeur.mes_classes|length > 0 %}
  <p>Ce professeur intervient dans les classes suivantes :
  <ul>
    {{ concerned_user.professeur.mes_classes|unordered_list }}
  </ul>
  {% else %}
  <p>Ce professeur n'intervient dans aucune classe.</p>
  {% endif %}
  {% endif %}
</fieldset>
{% endif %}

{% if perm_form %}
<fieldset>
  <legend>Permissions sur les colloscopes</legend>
  {{ perm_form.management_form }}
  <table class="formset">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Permission</th>
        <th>Uniquement pour sa matière ?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for form in perm_form %}
      <tr>
        <td>{{ form.id }}{{ form.classe }}</td>
        <td>{{ form.droit }}</td>
        <td>{{ form.matiere_seulement }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit">
</fieldset>
{% endif %}

{% if not concerned_user or concerned_user.etudiant %}
<fieldset>
  <legend>Étudiant</legend>
  <table>
    {{ form.etu_form.as_table }}
  </table>
  <input type="submit">
</fieldset>
{% endif %}

</form>

{% endblock %}
