{% extends "pykol/base.html" %}
{% block head %}
{{ block.super }}
<script>
  $(document).ready(function() {
    $('input[name=categorie]').change(function() {
      $('#tabs .tab_content').hide();
      $('#tab-' + $(this).val()).show();
    });
    $('input[name=categorie]:checked').change();
  });
</script>
<style>
#id_categorie {
  display: flex;
  width: 100%;
}
#id_categorie li {
  display: block;
  flex: 1;
  text-align: center;
}
</style>
{% endblock %}
{% block title %}Édition d'un utilisateur − {{ block.super }}{% endblock %}
{% block content %}
<h2>{% if concerned_user %}
Profil de {{ concerned_user }}
{% else %}
Création d'un utilisateur
{% endif %}</h2>

{% include 'pykol/messages.html' %}

<form method="post" action="">
  {% csrf_token %}

  <fieldset>
    <legend>Informations d'identification</legend>
    <table>
      {{ form.user_form.as_table }}
    </table>
  <input type="submit" value="Enregistrer les modifications">
  </fieldset>

<div id="tabs">
    {{ form }}
    <div id="tab-0" class="tab_content">
    </div>
{% if not concerned_user or concerned_user.professeur %}
<div id="tab-1" class="tab_content">
  <fieldset>
    <legend>Professeur</legend>
    <table>
      {{ form.prof_form.as_table }}
    </table>
    <input type="submit" value="Enregistrer les modifications">

    {% if concerned_user %}
    {% if concerned_user.professeur.mes_classes|length > 0 %}
    <p>Ce professeur intervient dans les classes suivantes :
    <ul>
      {{ concerned_user.professeur.mes_classes|unordered_list }}
    </ul>
    {% else %}
    <p>Ce professeur n'intervient dans aucune classe.</p>
    {% endif %}
    {% endif %}
  </fieldset>

  {% if perm_form %}
  <fieldset>
    <legend>Permissions sur les colloscopes</legend>
    {{ perm_form.management_form }}
    <table class="formset">
      <thead>
        <tr>
          <th>Classe</th>
          <th>Permission</th>
          <th>Uniquement pour sa matière ?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form in perm_form %}
        <tr>
          <td>{{ form.id }}{{ form.classe }}</td>
          <td>{{ form.droit }}</td>
          <td>{{ form.matiere_seulement }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Enregistrer les modifications">
  </fieldset>
  {% endif %}
</div>
{% endif %}

{% if not concerned_user or concerned_user.etudiant %}
<div id="tab-2" class="tab_content">
  <fieldset>
    <legend>Étudiant</legend>
    <table>
      {{ form.etu_form.as_table }}
    </table>
    <input type="submit" value="Enregistrer les modifications">
  </fieldset>
</div>
{% endif %}
</div>

</form>

{% endblock %}
