{% extends "pykol/base.html" %}
{% block content %}
<h2>
  Semaines de colles
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<section>
  <p>Sur cette page, vous pouvez définir quelles semaines seront des
  semaines de colles cette année en {{ classe }}. Par défaut, le
  formulaire contient la liste de toutes les semaines de l'année scolaire.

  <p>Pour chaque ligne, cochez la case <em>Colles ?</em> pour indiquer que
  la semaine concernée est une semaine de colle. Il faudra alors également
  renseigner le champ <em>Numéro</em>. Ce champ est libre : choisissez ce
  qui vous convient le mieux pour désigner la semaine de colle (ce n'est
  pas nécessairement un nombre).

  <p>Les numéros peuvent être générés automatiquement grâce au bloc situé
  en bas de page.

  <form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table>
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Colles ?</th>
        <th>Numéro</th>
      </tr>
      {% for form in formset %}
      {% if form.errors %}
      <tr>
        <td colspan="4">
          {{ form.non_field_errors }}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.debut }}</td>
        <td>{{ form.fin }}</td>
        <td>{{ form.est_colle }}</td>
        <td>{{ form.numero }}{{ form.semaine }}</td>
      </tr>
      {% endfor %}
    </table>

    <h3>Numérotation des semaines</h3>
    <p>Pour chaque semaine cochée dans la liste précédente, vous devez
    indiquer un identifiant unique (souvent un numéro) pour cette
    semaine. Si vous le souhaitez, il est possible de générer
    automatiquement les numéros grâce aux deux champs ci-dessous.</p>

    <p>Le champ <em>Format des numéros</em> vous permet d'indiquer
    comment les numéros de semaines doivent être générés. Le texte que
    vous indiquez est recopié, mais certaines chaines spéciales sont
    remplacées en fonction de la semaine :</p>
    <ul>
      <li>la chaine <em>{numero}</em> est remplacée par le numéro de la
        semaine (la première semaine de colle porte le numéro 1). Si
        vous souhaitez simplement numéroter les colles par des entiers
        dans l'ordre croissant, c'est ceci qu'il faut utiliser ;</li>
      <li>la chaine <em>{quinzaine}</em> donne le numéro de la quinzaine
        de colle ;</li>
      <li>la chaine <em>{parite}</em> est remplacée par <em>0</em> pour
        la première semaine d'une quinzaine donnée, et par <em>1</em>
        pour la deuxième semaine de la quinzaine ;</li>
      <li>la chaine <em>{parite_alpha}</em> fonctionne comme
        <em>{parite}</em> mais avec les lettres <em>A</em> et
        <em>B</em>. Par exemple, pour avoir la numérotation <em>Q1A,
          Q1B, Q2A, Q2B, ...</em> pour les semaines de colles, il faut
        indiquer comme format :
        <em>Q{quinzaine}{parite_alpha}</em>.</li>
    </ul>
    <table>
    {{ genform.as_table }}
    </table>
    <input type="submit">
  </form>
</section>
{% endblock %}
