{% extends "pykol/base.html" %}
{% block content %}
<h2>
  Groupes de colles
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<section>
  <p>Pour chaque étudiant dans la liste suivante, indiquez le groupe de
  colle auquel il appartient. Vous pouvez indiquer plusieurs groupes en
  les séparant par des virgules. Ceci permet par exemple de changer les
  groupes en cours d'année mais en conservant l'historique des groupes du
  début d'année.</p>

  <p>Il n'y a pas de restriction particulière sur les identifiants que
  vous pouvez utiliser (chiffres, lettres, etc.). Ils seront utilisés dans
  l'affichage du colloscope pour désigner les groupes.</p>

  <p>Pour les classes organisées en semestres, vous pouvez créer des
  groupes valables uniquement sur une période donnée : ceci permet
  de choisir un mode de nommage des groupes sur une période sans se
  préoccuper des noms donnés sur l'autre période.</p>

  <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table class="formset">
      <thead>
        <tr>
          <th>Étudiant</th>
          <th>Groupes à l'année</th>
          <th>Groupes de première période</th>
          <th>Groupes de deuxième période</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        {% if form.non_field_errors %}
        <tr>
          <td colspan="2" class="invalid-feedback">
          {{ form.non_field_errors }}
          </td>
        </tr>
        {% endif %}
        <tr{% if form.errors %} class="form-error"{% endif %}>
          <td>{{ form.etudiant }}</td>
          <td>{{ form.groupes }}
            {% if form.groupes.errors %}
            <div class="invalid-feedback">
              {{ form.groupes.errors }}
            </div>
            {% endif %}
          </td>
          <td>{{ form.groupes_periode_premiere }}
            {% if form.groupes_periode_premiere.errors %}
            <div class="invalid-feedback">
              {{ form.groupes_periode_premiere.errors }}
            </div>
            {% endif %}
          </td>
          <td>{{ form.groupes_periode_deuxieme }}
            {% if form.groupes_periode_deuxieme.errors %}
            <div class="invalid-feedback">
              {{ form.groupes_periode_deuxieme.errors }}
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit">
  </form>
</section>

{% endblock %}
