{% extends "pykol/base.html" %}
{% block content %}
<h2>
  Groupes de colles
  <small>{{ classe }} − {{ classe.annee }}</small>
</h2>

<section>
  <p>Pour chaque étudiant dans la liste suivante, indiquez le groupe de
  colle auquel il appartient. Vous pouvez indiquer plusieurs groupes en
  les séparant par des virgules. Ceci permet par exemple de changer les
  groupes en cours d'année mais en conservant l'historique des groupes du
  début d'année.</p>

  <p>Il n'y a pas de restriction particulière sur les identifiants que
  vous pouvez utiliser (chiffres, lettres, etc.). Ils seront utilisés dans
  l'affichage du colloscope pour désigner les groupes.</p>

  <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table class="formset">
      <thead>
        <tr>
          <th>Étudiant</th>
          <th>Groupes</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        {% if form.non_field_errors %}
        <tr>
          <td colspan="2" class="invalid-feedback">
          {{ form.non_field_errors }}
          </td>
        </tr>
        {% endif %}
        <tr{% if form.errors %} class="form-error"{% endif %}>
          <td>{{ form.etudiant }}</td>
          <td>{{ form.groupes }}
            {% if form.groupes.errors %}
            <div class="invalid-feedback">
              {{ form.groupes.errors }}
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit">
  </form>
</section>

{% endblock %}
