{% extends "pykol/base-bare.html" %}
{% load i18n static %}

{% block title %}Récupération de mot de passe{% endblock %}

{% block body_replace %}
<body class="login">
  {% if validlink %}

  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form method="post">{% csrf_token %}
    {{ form.as_table }}
  </form>

  {% else %}

  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}
</body>
{% endblock body_replace %}
