{% extends "pykol/base-bare.html" %}

{% block title %}Récupération de mot de passe{% endblock %}

{% block body_replace %}
<body class="login">
  <div id="login">
    <h1>Récupération de mot de passe</h1>
    <p>Un e-mail vient de vous être envoyé. Cet e-mail contient les
    instructions qui vous permettront de confirmer que vous êtes bien le
    titulaire du compte et de définir un nouveau mot de passe.</p>
    <p>Cet e-mail ne devrait pas mettre plus de quelques minutes à vous
    parvenir. Si vous pensez qu'il y a un souci, n'hésitez pas à vérifier
    que ce message n'a pas été classé par erreur parmi les courriers
    indésirables. Vérifiez également que vous n'avez pas fait d'erreur en
    remplissant le formulaire précédent.</p>
  </div>
</body>
{% endblock body_replace %}
