{% extends "pykol/base-bare.html" %}
{% load i18n static %}

{% block title %}Récupération de mot de passe{% endblock %}

{% block body_replace %}
<body class="login">
  <div id="login">
    <h1>Récupération de mot de passe</h1>
    {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}
      {{ form.as_table }}
      <p><input type="submit" value="{% trans 'Change my password' %}">
    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
  </div>
</body>
{% endblock body_replace %}
