{% extends "pykol/base.html" %}
{% load lien_email %}
{% block title %}Liste des enseignants en {{ object.nom }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Liste des enseignants en {{ object.nom }}</h2>

<section>
  <p>Cette page vous permet de définir la liste des enseignants qui
  interviennent en {{ object }}. Les enseignants peuvent :</p>
  <ul>
    <li>accéder aux résultats des colles de leurs étudiants,</li>
    <li>modifier les colles pour leur matière,</li>
    <li>attribuer les mentions ECTS.</li>
  </ul>

  <form method="post" action="">
    {% csrf_token %}
    {{ form.management_form }}
    <ul class="formset">
      {% for form in form %}
      <li>
        <ul>
          {{ form.as_ul }}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <p><input type="submit" value="Enregistrer la liste"></p>

    <template id="form-template">
      {{ form.empty_form.as_ul }}
    </template>
  </form>
</section>
{% endblock content %}
