{% extends "pykol/base.html" %}
{% load lien_email %}
{% block title %}Liste des enseignants en {{ object.nom }} − {{ block.super }}{% endblock %}
{% block content %}
<h2>Liste des enseignants en {{ object.nom }}</h2>

<section>
  <p>Cette page vous permet de définir la liste des enseignants qui
  interviennent en {{ object }}. Les enseignants peuvent :</p>
  <ul>
    <li>accéder aux résultats des colles de leurs étudiants,</li>
    <li>modifier les colles pour leur matière,</li>
    <li>attribuer les mentions ECTS.</li>
  </ul>

  <form method="post" action="">
    <ul id="service-form" class="formset">
      <li>
        <ul class="formset-labels">
        {% for field in form.empty_form %}
        {% if not field.is_hidden %}
        <li>{{ field.label }}</li>
        {% endif %}
        {% endfor %}
        </ul>
      </li>
      {% for form in form %}
      <li>
        <ul>
          {{ form.as_ul }}
        </ul>
      </li>
      {% endfor %}
      <template id="template-service-form">
        {{ form.empty_form.as_ul }}
      </template>
    </ul>
    <p>
      {% csrf_token %}
      {{ form.management_form }}
      <input type="submit" value="Enregistrer la liste">
    </p>
  </form>
</section>
{% endblock content %}
