label {
  font-weight: 700;
}

input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $input-text-color;
  background-color: $input-text-background;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

input[type="submit"] {
  @include button-success;
  width: auto;
  height: auto;
  line-height: auto;

  &.btn-danger {
    @include button-danger;
  }

  @media print {
    display: none;
  }
}

@media print {
  input[type="text"] {
    border-style: none;
    padding: 0;
    margin: 0;
  }
}

fieldset {
  @include x-panel;

  legend {
    @extend h3;
  }
}

.custom-combobox {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 100%;
  line-height: 34px;

  & > * {
    vertical-align: bottom;
  }
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  width: 2rem;
  height: 34px;
  display: inline;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  display: inline;
  width: calc(100% - 2rem);
  height: 34px;
}

.formset {
  .add-row {
    @include button-primary;
  }
  .delete-row {
    @include button-danger;
    @extend .btn-sm;
  }
}

.button-add {
  @include button-primary;
}

.form_roulement {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) {
      width: 100% * 2 / 12;
    }
    &:nth-child(2) {
      width: 100% * 8 / 12;
    }
    &:nth-child(3) {
      width: 100% * 2 / 12;
    }
  }
}

.form_creneaux {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) { width: 100% * 3 / 12; }
    &:nth-child(2) { width: 100% * 2 / 12; }
    &:nth-child(3) { width: 100% * 2 / 12; }
    &:nth-child(4) { width: 100% * 2 / 12; }
    &:nth-child(5) { width: 100% * 1 / 12; }
    &:nth-child(6) { width: 100% * 2 / 12; }
  }
}

.form_creneaux, .form_direction_creneaux {
  .creneau_horaire input {
    display: inline;
    width: calc(50% - 1rem);
  }
}

.form_direction_creneaux {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) { width: 100% * 4 / 12; }
    &:nth-child(2) { width: 100% * 2 / 12; }
    &:nth-child(3) { width: 100% * 2 / 12; }
    &:nth-child(4) { width: 100% * 2 / 12; }
  }
  @media print {
    input {
      display: inline;
      border-style: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      height: auto;
    }
  }
}

.form_choix_etudiants ul#id_etudiants,
.form_change_trinome ul#id_trinome-etudiants,
.form_radio_ligne ul {
  display: flex;
  flex-wrap: wrap;

  li {
    &:before {
      content: none;
    }
    input {
      display: inline;
      width: auto;
      height: auto;
    }
    display: inline;
    width: 18rem;
  }
}

.form_ects_mentions ul {
  display: flex;
  flex-wrap: no-wrap;
  li {
    &:before {
      content: none;
    }
    input {
      display: none;
    }
    label {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 0.7em 0.2em;
      font-weight: normal;
      cursor: pointer;
    }
    width: 1/7 * 100%;
    flex: 1 0 auto;
    display: flex;
  }

  // Échelle de couleur des mentions ECTS
  $mentions: (
    null: ("", #eee),
    f: ("0", #ffffff),
    e: ("1", #b7effb),
    d: ("2", #baf6ff),
    c: ("3", #c7f2cc),
    b: ("4", #fdd0e4),
    a: ("5", #e3c6f0),
  );

  @each $name, $mention in $mentions {
    $valeur: nth($mention, 1);
    $couleur: nth($mention, 2);
    input[type="radio"][value="#{$valeur}"] ~ label {
      background-color: $couleur;
    }
    input[type="radio"][value="#{$valeur}"]:checked ~ label {
      background-color: darken($couleur, 50%);
      color: white;
      box-shadow: 2px 2px $couleur;
    }
  }
}
