label {
  font-weight: 700;
}

input {
  display: block;
  height: 34px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $input-text-color;
  background-color: $input-text-background;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

input[type="submit"] {
  @include button-success;
  width: auto;
  height: auto;
  line-height: auto;

  &.btn-danger {
    @include button-danger;
  }
}

form {
  @include x-panel;
}

fieldset legend {
  @extend h3;
}

.custom-combobox {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 100%;

  input {
    display: inline;
    width: calc(100% - 2em);
  }
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

.formset {
  .add-row {
    @include button-primary;
  }
  .delete-row {
    @include button-danger;
    @extend .btn-sm;
  }
}

.button-add {
  @include button-primary;
}

.form_roulement {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) {
      width: 100% * 2 / 12;
    }
    &:nth-child(2) {
      width: 100% * 8 / 12;
    }
    &:nth-child(3) {
      width: 100% * 2 / 12;
    }
  }
}

.form_creneaux {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) { width: 100% * 3 / 12; }
    &:nth-child(2) { width: 100% * 2 / 12; }
    &:nth-child(3) { width: 100% * 2 / 12; }
    &:nth-child(4) { width: 100% * 2 / 12; }
    &:nth-child(5) { width: 100% * 1 / 12; }
    &:nth-child(6) { width: 100% * 2 / 12; }
  }
}

.form_creneaux, .form_direction_creneaux {
  .creneau_horaire input {
    display: inline;
    width: calc(50% - 1rem);
  }
}

.form_direction_creneaux {
  table-layout: fixed;

  tr > * {
    &:nth-child(1) { width: 100% * 1 / 12; }
    &:nth-child(2) { width: 100% * 2 / 12; }
    &:nth-child(3) { width: 100% * 2 / 12; }
    &:nth-child(4) { width: 100% * 2 / 12; }
    &:nth-child(5) { width: 100% * 2 / 12; }
    &:nth-child(6) { width: 100% * 1 / 12; }
    &:nth-child(7) { width: 100% * 2 / 12; }
  }
  .creneau_horaire input {
    display: inline;
    width: calc(50% - 1rem);
    /* min-width: 4.5rem; */
  }
}

.form_cree_colle {
  ul#id_etudiants {
    display: flex;
    flex-wrap: wrap;

    li {
      &:before {
        content: none;
      }
      input {
        display: inline;
        width: auto;
        height: auto;
      }
      display: inline;
      width: 18rem;
    }
  }
}
