.login {
  background: #F7F7F7;
  color: #73879C;
  display: block;
  min-height: auto;

  h1 {
    color: #73879C;
  }

  #login {
    @include x-panel;
    margin: 10% auto 10%;
    max-width: 450px;
  }
}
