@import "reset";
* {
  box-sizing: border-box;
}

$fa-font-path: "fa/webfonts";
@import "fa/scss/fontawesome";
@import "fa/scss/fa-solid";
@import "fa/scss/fa-regular";
@import "fa/scss/fa-brands";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/badge";

@import "colors";
@import "typography";
@import "layout";
@import "buttons";
@import "forms";
@import "login";
@import "tables";

@import "colloscope";
@import "dotation";
