@import "fonts/open-sans.css";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
